{
    order listencaddy first
}
:80 {
    respond / "Hello, world!" 200

    listencaddy {
        api_key "yourAPIkey"
        banned_uris "/admin|/wp-admin"
        whitelisted_ips "127.0.0.1"
    }

    handle_path /admin {
        respond "Welcome!" 200
    }
}