{
    order listencaddy first
}

:80 {
    respond / "Hello, world!" 200

    listencaddy {
        api_key "{$ABUSEIPDB_APIKEY}"
        banned_uris "/admin|/wp-admin"
        abuseipdb_message "The IP that was reported tried to access {{.Path}}, which is a banned path on this server. Powered by ListenCaddy (TESTING!)"
        response_message "You are not allowed to access the {{.Path}} resource. You've been reported to AbuseIPDB. (ListenCaddy)"
    }

    handle_path /admin {
        respond "Welcome!" 200
    }
}